<html>

{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href="#">Nendaz ski resort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#a_map">Map</a>
            <a class="nav-item nav-link" href="#a_details">Details</a>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <div class="container for-about">
        <h2 style="color:white; text-transform:uppercase; font-weight:bold;">Welcome <br/>to Nendaz ski resort</h2>
    </div>
</div>

<a class="anchor" id="a_map"></a>
<div class="map" id="map">
    {% leaflet_map "skiresort" callback="main_map_init" %}

</div>

<a class="anchor" id="a_details"></a>
<div class="details" id="details">
    <h3 style="text-transform:uppercase; font-weight:bold; margin-bottom:30px;">Accomodation</h3>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Ski-lift</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">

                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                        <td><h4>Type</h4></td>
                        <td><h4> Duration</h4></td>
                        <td><h4> Altitude</h4></td>
                    </tr>

                    {% for part in lifts_parts %}
                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                            <td><h5>{{ part.type }}</h5></td>
                            <td><h5>{{ part.time }}</h5></td>
                            <td><h5>{{ part.altitude }}</h5></td>
                        </tr>

                        </li>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Slopes</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">

                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                        <td><h4>Difficulty</h4></td>
                        <td><h4> Drop</h4></td>
                        <td><h4> Altitude</h4></td>

                    </tr>

                    {% for part in slopes_parts %}
                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                            <td><h5>{{ part.difficulty }}</h5></td>
                            <td><h5>{{ part.drop }}</h5></td>
                            <td><h5>{{ part.altitude }}</h5></td>

                        </tr>

                        </li>
                    {% endfor %}
                </table>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">WC</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                    </tr>

                    {% for part in restrooms_parts %}

                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                        </tr>
                        </li>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Lift entrances</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                    </tr>

                    {% for part in liftEntrances_parts %}

                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                        </tr>
                        </li>
                    {% endfor %}
                </table>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5">Firstaid</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">

                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                    </tr>

                    {% for part in firstAids_parts %}

                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                        </tr>
                        </li>
                    {% endfor %}
                </table>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse6">Parks</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                        <td><h4> Full</h4></td>
                    </tr>

                    {% for part in parks_parts %}

                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                            <td><h5> {{ part.full }}</h5></td>
                        </tr>
                        </li>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse7">Ticket services</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <table>
                    <tr>
                        <td><h4> Name</h4></td>
                    </tr>

                    {% for part in ticketService_parts %}

                        <tr>
                            <td><h5> {{ part.name }}</h5></td>
                        </tr>
                        </li>
                    {% endfor %}
                </table>

            </div>
        </div>


    </div>
</div>


<script type="text/javascript">


    function main_map_init(map, options) {

        var liftsdata = '{% url "liftsdata" %}'
        var liftentrancesdata = '{% url "liftentrancesdata" %}'
        var slopesdata = '{% url "slopesdata" %}'
        var firstaid = '{% url "firstaiddata" %}'
        var restroomsdata = '{% url "restroomsdata" %}'
        var restaurantsdata = '{% url "restaurantsdata" %}'
        var ticketservicedata = '{% url "ticketsservicedata" %}'
        var parksdata = '{% url "parkdata" %}'
        $.getJSON(liftsdata, function (data) {
            var lifts = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(lifts, 'Lifts');
        })
        $.getJSON(liftentrancesdata, function (data) {
            var liftentrances = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(liftentrances, 'Lift Entrances');
        })
        $.getJSON(slopesdata, function (data) {
            var slopes = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(slopes, 'Slopes');
        })
        $.getJSON(firstaid, function (data) {
            var firstaids = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(firstaids, 'First Aids');
        })
        $.getJSON(restroomsdata, function (data) {
            var restroom = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(restroom, 'Restrooms');
        })
        $.getJSON(restaurantsdata, function (data) {
            var restaurants = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(restaurants, 'Restaurants');

        })
        $.getJSON(ticketservicedata, function (data) {
            var ticketservices = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(ticketservices, 'Ticket services');
        })
        $.getJSON(parksdata, function (data) {
            var parkings = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(parkings, 'Parking');

        })


        var controlLayers = L.control.layers(null, null, {collapsed: false}).addTo(map); // Show Overlay controls
        controlLayers.setPosition('bottomright') // Move Overlay Controls

    }

    function onEachFeature(feature, layer) {


        let list
        if (feature.properties) {
            list = "<dl>";
            if (feature.properties.name) {
                list += "<dt>Name</dt>"
                    + "<dd>" + feature.properties.name + "</dd>";

            }
            if (feature.properties.altitude) {
                list += "<dt>Altitude</dt>"
                    + "<dd>" + feature.properties.altitude + "</dd>";

            }
            if (feature.properties.length) {
                list += "<dt>Length</dt>"
                    + "<dd>" + feature.properties.length + "</dd>";

            }
            if (feature.properties.time) {
                list += "<dt>Time</dt>"
                    + "<dd>" + feature.properties.time + "</dd>";

            }
            if (feature.properties.type) {
                list += "<dt>Type</dt>"
                    + "<dd>" + feature.properties.type + "</dd>";

            }
            if (feature.properties.places) {
                list += "<dt>Places</dt>"
                    + "<dd>" + feature.properties.places + "</dd>";

            }
            if (feature.properties.full) {
                list += "<dt>Is Full</dt>"
                    + "<dd>" + feature.properties.full + "</dd>";

            }
            if (feature.properties.drop) {
                list += "<dt>Drop</dt>"
                    + "<dd>" + feature.properties.drop + "</dd>";

            }
            if (feature.properties.difficulty) {
                list += "<dt>Difficulty</dt>"
                    + "<dd>" + feature.properties.difficulty + "</dd>";

            }

            list += "</dl>";


            layer.bindPopup(list);


        }

    }


</script>
</body>
<style type="text/css">

    .leaflet-container {
        /*height: 800px;*/
        height: calc(100vh - 60px);
    }

    a.anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    .jumbotron {
        background-image: url("https://skipass.fr/p/resorts/626/header-haute-nendaz-ef516-1.jpg");
        background-size: cover;
        height: 400px;
        font-family: "Open Sans";
        margin-bottom: 2px;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position-y: -150px;
    }

    .jumbotron h2 {
        margin-top: 100px;
    }

    .details {
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .panel {
        border: none;
    }

    .container.for-about {
        text-align: left;

    }

    .navbar {
        margin-bottom: 0px;
        text-transform: uppercase;
        height: 60px;
    }

    #details {
        top: 0;
        left: 0;
        right: 0;
        height: 800px;

    }

    h4 {
        font-weight: bolder;
        color: gray;

    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

</style>

</html>