<html>

{% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nendaz ski resort</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#map">Map</a>
      <a class="nav-item nav-link" href="#details">Details</a>
    </div>
  </div>
</nav>



<div class="jumbotron vertical-center">
    <div class="container for-about">
        <h2 style="color:white; text-transform:uppercase; font-weight:bold;">Welcome <br/>to Nendaz ski resort</h2>
    </div>
</div>

<div class="map" id="map">
    {% leaflet_map "skiresort" callback="main_map_init" %}

</div>


<div class="details" id="details">
 <h3 style="text-transform:uppercase; font-weight:bold;">Details</h3>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Ski-lift</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for part in lifts_parts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>{{ part.name }}</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Slopes</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for part in restrooms_parts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>{{ part.name }}</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Slopes</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for part in lifts_parts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>{{ part.name }}</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Slopes</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for part in lifts_parts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>{{ part.name }}</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse5">Slopes</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <ul class="list-group">
                    {% for part in lifts_parts %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5>{{ part.name }}</h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>





    </div>
</div>


<script type="text/javascript">


    function main_map_init(map, options) {

        var liftsdata = '{% url "liftsdata" %}'
        var liftentrancesdata = '{% url "liftentrancesdata" %}'
        var slopesdata = '{% url "slopesdata" %}'
        var firstaid = '{% url "firstaiddata" %}'
        var restroomsdata = '{% url "restroomsdata" %}'
        var restaurantsdata = '{% url "restaurantsdata" %}'
        var ticketservicedata = '{% url "ticketsservicedata" %}'
        var parksdata = '{% url "parkdata" %}'
        $.getJSON(liftsdata, function (data) {
            var lifts = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(lifts, 'Lifts');
        })
        $.getJSON(liftentrancesdata, function (data) {
            var liftentrances = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(liftentrances, 'Lift Entrances');
        })
        $.getJSON(slopesdata, function (data) {
            var slopes = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(slopes, 'Slopes');
        })
        $.getJSON(firstaid, function (data) {
            var firstaids = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(firstaids, 'First Aids');
        })
        $.getJSON(restroomsdata, function (data) {
            var restroom = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(restroom, 'Restrooms');
        })
        $.getJSON(restaurantsdata, function (data) {
            var restaurants = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(restaurants, 'Restaurants');

        })
        $.getJSON(ticketservicedata, function (data) {
            var ticketservices = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(ticketservices, 'Ticket services');
        })
        $.getJSON(parksdata, function (data) {
            var parkings = L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            controlLayers.addOverlay(parkings, 'Parking');

        })


        var controlLayers = L.control.layers(null, null, {collapsed: false}).addTo(map); // Show Overlay controls
        controlLayers.setPosition('bottomright') // Move Overlay Controls

    }

    function onEachFeature(feature, layer) {


        let list
        if (feature.properties) {
            if (feature.properties.name && feature.properties.altitude) {
                list = "<dl><dt>Name</dt>"
                    + "<dd>" + feature.properties.name + "</dd>"
                    + "<dt>Altitude</dt>"
                    + "<dd>" + feature.properties.altitude + "</dd>"
                if (feature.properties.type && feature.properties.time) {
                    list +=
                        "<dt>Type</dt>"
                        + "<dd>" + feature.properties.type + "</dd>"
                        + "<dt>Duration</dt>"
                        + "<dd>" + feature.properties.time + "</dd>"
                }
            }


            layer.bindPopup(list);


        }

    }




</script>
<style type="text/css">

    .leaflet-container {
        height: 400px;
    }

    .jumbotron {
    background-image: url("https://www.investorsinproperty.com/resources/plugins/kcfinder/upload/images/zermatt%281%29.jpg");
        background-size: cover;
    height: 250px;
    font-family: "Open Sans";
    margin-bottom: 2px;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position-y: -120px;
}

    .details {
        padding-top:30px;
        padding-left:50px;
        padding-right: 50px;
    }

    .panel {
        border:none;
    }
    .container.for-about{
        text-align:left;

    }
    .navbar{
        margin-bottom:0px;
        text-transform:uppercase;
    }

    #details{
    top: 0;
    left: 0;
    right: 0;
        height:800px;

}




</style>
</body>

</html>